.calculator{
  background-color: #3E3E40;
  margin: auto;
  width: 500px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  box-shadow: 0px 2px 10px 2px;
}

.calculator > * {
  flex: 1;
}

.screen {
  flex: 0 0 100%;
  text-align: right;
  margin: 0 auto auto auto;
  font-size: 2em;
}

.displayScreen {
  background-color: #292828;
  color: white;
  padding: 1em;
  height: 3em;
}

.queryScreen {
  height: 2em;
  font-size: 16pt;
  color: #ffffff91;
  margin: auto;
  padding: 0.5em 1.5em;
}

.calculator > div[data-face] {
  order: 20;
  min-width: 20%;
  font-size: 2em;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #3EBDC1;
  margin: 2%;
  border-radius:10%;
  background-color: #fbf9f9;
  box-shadow: 0px 0px 5px 1px;
  transition: all 0.1s;
}

.calculator > div[data-face]:active {
  transform: scale(0.95);
}

.calculator > div[data-face="1"] {

}

.calculator > div[data-face="7"] {
  order:1
}

.calculator > div[data-face="8"] {
  order:2
}

.calculator > div[data-face="9"] {
  order:3
}

.calculator > div[data-face="/"] {
  order:4;
  color: #039F9B;
  background-color: #292828;
}

.calculator > div[data-face="4"] {
  order:5
}

.calculator > div[data-face="5"] {
  order:6
}

.calculator > div[data-face="6"] {
  order:7;
}

.calculator > div[data-face="*"] {
  order:8;
  color: #039F9B;
  background-color: #292828;
}

.calculator > div[data-face="1"] {
  order:9;
}

.calculator > div[data-face="2"] {
  order:10;
}

.calculator > div[data-face="3"] {
  order:11;
}

.calculator > div[data-face="-"] {
  order:12;
  color: #039F9B;
  background-color: #292828;
}

.calculator > div[data-face="0"] {
  order:13
}

.calculator > div[data-face="="] {
  color: #039F9B;
  background-color: #292828;
}

.calculator > div[data-face="C"] {
  color: #EC2626;
  background-color: #292828;
}

.calculator > div[data-face="+"] {
  color: #039F9B;
  background-color: #292828;
}
